<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>SuppressesIncrementalRendering</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>DetectPhotoNumber</key>
	<true/>
	<key>EnableLocation</key>
	<true/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<false/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<true/>
	<key>UIWebViewBounce</key>
	<true/>
	<key>BackupWebStorage</key>
	<string>cloud</string>
	<key>ExternalHosts</key>
	<array>
		<string>76.10.173.153</string>
		<string>*.devgetkickbak.com</string>
		<string>localhost</string>
		<string>192.168.0.52</string>
		<string>*.googleapis.com</string>
		<string>*.getkickbak.com</string>
		<string>m.facebook.com</string>
		<string>graph.facebook.com</string>
		<string>api.facebook.com</string>
		<string>*.akamaihd.net</string>
		<string>*.fbcdn.net</string>
		<string>*.pushwoosh.com</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>ProximityIDPlugin</key>
		<string>ProximityID</string>
		<key>PushNotification</key>
		<string>PushNotification</string>
		<key>EmailComposer</key>
		<string>EmailComposer</string>
		<key>LowLatencyAudio</key>
		<string>LowLatencyAudio</string>
		<key>QRCodeReaderNigma</key>
		<string>QRCodeReaderNigma</string>
		<key>QRCodeReaderRL</key>
		<string>QRCodeReaderRL</string>
		<key>FacebookConnect</key>
		<string>FacebookConnect</string>
		<key>BarcodeScanner</key>
		<string>CDVBarcodeScanner</string>
		<key>Accelerometer</key>
		<string>CDVAccelerometer</string>
		<key>Compass</key>
		<string>CDVLocation</string>
		<key>NetworkStatus</key>
		<string>CDVConnection</string>
		<key>Contacts</key>
		<string>CDVContacts</string>
		<key>Debug Console</key>
		<string>CDVDebugConsole</string>
		<key>Device</key>
		<string>CDVDevice</string>
		<key>Echo</key>
		<string>CDVEcho</string>
		<key>File</key>
		<string>CDVFile</string>
		<key>FileTransfer</key>
		<string>CDVFileTransfer</string>
		<key>Geolocation</key>
		<string>CDVLocation</string>
		<key>Logger</key>
		<string>CDVLogger</string>
		<key>Notification</key>
		<string>CDVNotification</string>
		<key>Media</key>
		<string>CDVSound</string>
		<key>Capture</key>
		<string>CDVCapture</string>
		<key>SplashScreen</key>
		<string>CDVSplashScreen</string>
		<key>Battery</key>
		<string>CDVBattery</string>
		<key>Camera</key>
		<string>CDVCamera</string>
		<key>Globalization</key>
		<string>CDVGlobalization</string>
	</dict>
</dict>
</plist>
